<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>50156455919-03b0chfv1ir1cqnbv5f6lboh88gpojev.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.50156455919-03b0chfv1ir1cqnbv5f6lboh88gpojev</string>
	<key>API_KEY</key>
	<string>AIzaSyArJgY_6isGEsQ2Z5C91XoNfkjI2pFmhAA</string>
	<key>GCM_SENDER_ID</key>
	<string>50156455919</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.stickSlash</string>
	<key>PROJECT_ID</key>
	<string>stickslash-7a400</string>
	<key>STORAGE_BUCKET</key>
	<string>stickslash-7a400.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:50156455919:ios:63289b889828948083581a</string>
</dict>
</plist>